<!doctype html>
<title>Le site des groupes de musiques</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Site des meilleurs groupe de musique</h1>
  <ul>
    {% if g.user %}
      <li><span>Connecté en tant que "{{ g.user['username'] }}"</span>
      <li><a href="{{ url_for('auth.logout') }}">Deconnexion</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Creer un compte</a>
      <li><a href="{{ url_for('auth.login') }}">Se connecter</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>