<!doctype html>
<title>Le site des groupes de musiques</title>
<link rel="stylesheet" href="../static/bootstrap.css">
<script src="../static/jquery-3.4.1.min.js"></script>
<script src="../static/bootstrap.bundle.js"></script>
<body background="../static/YWaaUWl.jpg">

<nav class="navbar navbar-dark bg-dark">
    {% if g.user %}
      <span>Connecté en tant que "{{ g.user['username'] }}"</span>
      <li><a href="{{ url_for('auth.logout') }}">Deconnexion</a>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Creer un compte</a>
      <a href="{{ url_for('auth.login') }}">Se connecter</a>
    {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

</section>
</body>