{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nouveau groupe{% endblock %}</h1>
{% endblock %}

{% block content %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Créer un compte
      </button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <form method="post">
    <label for="titre">Titre</label>
    <input name="titre" id="titre" value="{{ request.form['titre'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    <input type="submit" value="Enregistrer">
    <input type="button" onclick="javascript:history.back(-1);" value="Retour">
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}