{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nouveau groupe{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="titre">Titre</label>
    <input name="titre" id="titre" value="{{ request.form['titre'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    <input type="submit" value="Enregistrer">
    <input type="button" onclick="javascript:history.back(-1);" value="Retour">
  </form>
{% endblock %}