{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Groupes{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('groupe.create') }}">Nouveau</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['titre'] }}</h1>
          
        </div>
        {% if g.user['id'] == post['groupe_id'] %}
          <a class="action" href="{{ url_for('groupe.update', id=post['id']) }}">Modifier</a>
          <form action="{{ url_for('groupe.delete', id=post['id']) }}" method="post">
            <input type="submit" value="Supprimer" onclick="return confirm('Êtes vous sur de supprimer le groupe ?');">
          </form>
        {% endif %}
      </header>
      <p class="body">{{ post['description'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}