{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Modifier le groupe "{{ post['titre'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="titre">Titre</label>
    <input name="titre" id="titre"
      value="{{ request.form['titre'] or post['titre'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or post['description'] }}</textarea>
    <label for="commentaire">Commentaire</label>
    <textarea name="commentaire" id="commentaire">{{ request.form['commentaire'] or post['commentaire'] }}</textarea>
    <input type="submit" value="Enregistrer">
  </form>
  <hr>
{% endblock %}
